.transactions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.transaction-card {
   width: 80%;
   justify-content: center;
   margin: auto;
   border-radius: 20px;
   margin-bottom: 20px;
}

.images {
    margin: 20px;
}

a {
    text-decoration: none;
    color: #007AFF;
    font-size: 2rem;
}

.name {
    background-color:  #007AFF;
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

.wallet-description,
.transactions-description {
    font-size: 1.8rem;
    width: 50%;
    margin: 50px auto;
}

.withdraw-description,
.transfer-description {
    font-size: 1.8rem;
    width: 50%;
    margin: 50px auto;
}

.transferred,
.received {
    font-size: 1.6rem;
    font-weight: bold;
}

.transfer, 
.receive {
   color:  #007AFF;
}

form {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 50%;
    margin: 10px auto;
    border-radius: 20px;
    border: 1px solid #007AFF;
    padding: 10px;
}

label {
    font-size: 1.6rem;
}

@media (max-width: 640px) {
    .transactions {
        width: 100%;
        flex-direction: column;

    }
}
